@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section>
    <iframe
    src="@Model.Value("googleMapsUrl")"
    
    class="w-100 mt-5"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
></iframe>
</section>