@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <footer>
    <section class="section-for-footer">
        <div
            class="container d-flex flex-column justify-content-center"
        >
            <div class="footer-start row d-flex">
                <div class="pe-5 col-md-12 col-lg-4">
                    <img src="/staticImages/logos/Logowhitetext.png" alt="Logo" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Voluptatem quo non voluptate
                        rem fugiat rerum eum! Nisi quibusdam pariatur
                        numquam? Consequuntur nam iste cum maiores error
                        deserunt, tempora ipsum voluptates.
                    </p>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <h2>Company</h2>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Works</a>
                    <a href="#">Career</a>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <h2>Help</h2>
                    <a href="#">Customer Support</a>
                    <a href="#">Delivery Details</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <h2>Recources</h2>
                    <a href="#">Free Ebooks</a>
                    <a href="#">Development Tutorial</a>
                    <a href="#">How to - Blog</a>
                    <a href="#">Youtube Playlist</a>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <h2>Link</h2>
                    <a href="#">How to - Blog</a>
                    <a href="#">Youtube Playlist</a>
                    <a href="#">Free Ebooks</a>
                    <a href="#">Development Tutorial</a>
                </div>
            </div>
            <div
                class="footer-end d-flex align-items-center justify-content-between"
            >
                <div class="rights-reserved">
                    &copy; @DateTime.Now.Year Crito - Consulting Company Inc. All
                    Right Reserved.
                </div>
                <div class="footer-social-media">
                    <a href="#"
                        ><i class="fa-brands fa-facebook"></i
                    ></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"
                        ><i class="fa-brands fa-instagram"></i
                    ></a>
                    <a href="#"
                        ><i class="fa-brands fa-linkedin"></i
                    ></a>
                </div>
            </div>
        </div>
    </section>
</footer>