@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServicePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	
	var serviceList = Umbraco.Content(Guid.Parse("4dc61606-3ad4-476f-93f2-38021fd7de3e"))
    .ChildrenOfType("servicePageItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
    
    

}

@await Html.PartialAsync("_BreadcrumbSection")
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-xl-between justify-content-evenly">
                    @foreach(var service in serviceList)
                    {
                        @await Html.PartialAsync("cards/_ServiceCard", service)
                    }
                </div>
            </div>
        </div>
    </div>
</section>