@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{

    var url = Model.Url();
    var createdDate = Model.CreateDate;
    var imageUrl = Model.Value<IPublishedContent>("newsImage").Url();
    var title = Model.Name();
    var category = Model.Value("newsCategory");
    var introduction = Model.Value("introduction");
}


 <div class="col-4 news-card">
    <a class="text-decoration-none" href="@url">
        <div class="img-container">
        <img
            src="@imageUrl"
            alt="@title"
        />
    </div>
    <div class="card-info d-flex flex-column justify-content-between">
        <h3>@category</h3>
        <h4>
            @title
        </h4>
        <p>
            @introduction
        </p>
    </div>
    </a>
</div>