@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var url = Model.Url();
    var imageUrl = Model.Value<IPublishedContent>("projectImage").Url();
    var title = Model.Name();
}


<div class="col-6 pb-5">
    <img
        src="@imageUrl"
        alt="@title"
    />
    <div class="business-card-info">
        <h3>
            @title
        </h3>
        <a href="@url"
            >Read More
            <i class="fa-solid fa-arrow-up-right"></i
        ></a>
    </div>
</div>